{% extends 'main/base.html' %}
{% load static %}
{% block content %}

        <!-- page-title -->
        <div class="ttm-page-title-row">
            <div class="ttm-page-title-row-inner">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <div class="page-title-heading">
                                <h2 class="title">FAQ</h2>
                            </div>
                            <div class="breadcrumb-wrapper">
                                <div class="container">
                                    <div class="breadcrumb-wrapper-inner">
                                        <span><a title="Dezily" href="/" class="home">Home</a></span>
                                        <span class="ttm-bread-sep">&nbsp; / &nbsp;</span>
                                        <span>FAQ</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                    
        </div><!-- page-title-end -->

        <!--site-main start-->
        <div class="site-main">

            <!--faq-section-->
            <section class="ttm-row faq-section bg-layer-equal-height clearfix">
                <div class="container">
                    <!--row-->
                    <div class="row">
                        <div class="col-lg-7 col-md-10 col-sm-12 m-auto">
                            <!--section-title-->
                            <div class="section-title title-style-center_text">
                                <div class="title-header">
                                    <h3>Have any Questions</h3>
                                    <h2 class="title">Recently Asked Questions</h2>
                                </div>
                                <p>Below are some common questions families have asked about Caringtouch Healthcare Limited. If you need more information or would like to speak with one of our helpful team members, please call <a href="tel:07415211168"> 07415211168</a> or <a href="tel:07415211170"> 07415211170</a>.</p>
                            </div><!--section-title end-->
                        </div>
                    </div><!--row end-->
                    <!--row-->
                    <div class="row pt-20">
                        <div class="col-lg-6 col-md-12">
                            <!-- col-img-bg-img-eight-->
                            <div class="col-bg-img-eight ttm-bg ttm-col-bgimage-yes">
                                <div class="ttm-col-wrapper-bg-layer ttm-bg-layer"></div>
                                <div class="layer-content">
                                </div>
                            </div>
                            <!-- col-img-bg-img-eight end-->
                            <img class="ttm-equal-height-image" src="images/bg-image/col-bgimage-8.png" alt="image">
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="res-991-pt-50">
                                <div class="accordion">
                                    <!-- toggle -->
                                    <div class="toggle ttm-toggle_style_classic ttm-toggle-title-bgcolor-grey">
                                        <div class="toggle-title"><a href="about-us.html" class="active">What Does "Aging In Place" Mean?</a></div>
                                        <div class="toggle-content show">
                                            <p>Aging in place refers to a person’s ability to safely grow old in their current residence — whether it is their own home, a family member’s home, or an assisted-living facility.</p>
                                        </div>
                                    </div><!-- toggle end -->
                                    <div class="toggle ttm-toggle_style_classic ttm-toggle-title-bgcolor-grey">
                                        <div class="toggle-title"><a href="about-us.html">What Are The Benefits of In-Home Personal Care?</a></div>
                                        <div class="toggle-content">
                                            <p>In addition to aging in place, a professional caregiver provides many benefits, including:</p>
                                                <ul>
                                                    <li>A customized home care plan that reflects unique needs and requests</li>
                                                    <li>Companionship and social interaction that reduces the risk of isolation and depression</li>
                                                    <li>Flexibility to receive care when needed most</li>
                                                    <li>Lower home care costs when compared to assisted living or nursing home care One-on-one, personalized care</li>
                                                    <li>Peace of mind that your loved one is receiving compassionate care from a trusted professional</li>
                                                    <li>Supervision and assistance that reduces the risk of falls, injuries, and other household accidents</li>
                                                    
                                                </ul>
                                        </div>
                                    </div><!-- toggle end -->
                                    <!-- toggle -->
                                    <div class="toggle ttm-toggle_style_classic ttm-toggle-title-bgcolor-grey">
                                        <div class="toggle-title"><a href="about-us.html">What Services Do Caringtouch Healthcares’ Caregivers Provide?</a></div>
                                        <div class="toggle-content">
                                            <p>Caringtouch Healthcares can provide dedicated companion care and personal care services to assist with everyday activities, so your loved one can preserve their independence while remaining comfortably and safely at home. Home care services include:</p>
                                                <ul>
                                                    <li>Companionship</li>
                                                    <li>Fall prevention</li>
                                                    <li>Grooming, dressing, bathing, and toileting assistance</li>
                                                    <li>Light housekeeping</li>
                                                    <li>Medication reminders</li>
                                                    <li>Meal preparation</li>
                                                    <li>Mobility and transfer assistance</li>
                                                    <li>Running errands</li>
                                                </ul>
                                        </div>
                                    </div><!-- toggle end -->

                                    <div class="toggle ttm-toggle_style_classic ttm-toggle-title-bgcolor-grey">
                                        <div class="toggle-title"><a href="about-us.html">What If I No Longer Need Services?</a></div>
                                        <div class="toggle-content">
                                            <p>If you no longer need services from a Caringtouch Healthcares’ caregiver, you can request a two-week notice to cancel. If you need to decrease the number of hours/days your loved one receives care, you can make permanent schedule changes with a one-week notice.</p>
                                        </div>
                                    </div><!-- toggle end -->

                                    <div class="toggle ttm-toggle_style_classic ttm-toggle-title-bgcolor-grey">
                                        <div class="toggle-title"><a href="about-us.html">Can I Change the Home Care Schedule?</a></div>
                                        <div class="toggle-content">
                                            <p>Yes, you can change or alter the home care schedule. The goal is to make the plan work for your family, not the agency. Although one week’s notice is asked for permanent schedule changes, Caringtouch Healthcare understands unexpected changes are sometimes necessary on short notice. Coordinators will do everything possible to ensure you get the schedule you need to accommodate emergencies.</p>
                                        </div>
                                    </div><!-- toggle end -->

                                    <div class="toggle ttm-toggle_style_classic ttm-toggle-title-bgcolor-grey">
                                        <div class="toggle-title"><a href="about-us.html">What If I Would Like To Select A New Caregiver?</a></div>
                                        <div class="toggle-content">
                                            <p>Caringtouch Healthcare believes successful home care starts with finding the right caregiver. Through the Select Your Caregiver program, a care coordinator will get to know your loved one and provide a personalized recommendation to match them with the right caregiver successfully.</p>

                                            <p>An in-home caregiver can be an adjustment for older adults, and it can take time for your loved one and caregiver to get comfortable with each other. However, if — for any reason at any time — you feel the caregiver isn’t the right match, you can reach out to your coordinator to recommend another caregiver.</p>
                                        </div>
                                    </div><!-- toggle end -->
                                </div>
                            </div> 
                        </div>
                    </div><!-- row end -->
                </div>
            </section><!--faq-section end-->

            <!--connect-section-->
            <section class="ttm-row connect-section bg-img8 ttm-bgcolor-grey ttm-bg ttm-bgimage-yes clearfix">
                <div class="ttm-row-wrapper-bg-layer ttm-bg-layer"></div>
                <div class="container">
                    <!--row-->
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <!-- section title -->
                            <div class="section-title title-style-center_text">
                                <div class="title-header">
                                    <h3>WANT OUR SERVICE?</h3>
                                    <h2 class="title">Get A Solutions For All Types <br> Of Health Services</h2>
                                </div>
                            </div><!-- section title end -->
                            <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-fill ttm-btn-color-darkgrey" href="{% url 'main:contact' %}" tabindex="0">Contact Us</a>
                        </div>
                    </div><!--row end-->
                </div>
            </section>
            <!--connect-section end-->

        </div><!--site-main end-->

       {% endblock %}