{% extends 'main/base.html' %}
{% load static %}
{% block content %}

        <div class="ttm-page-title-row">
            <div class="ttm-page-title-row-inner">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <div class="page-title-heading">
                                <h2 class="title">Services Details</h2>
                            </div>
                            <div class="breadcrumb-wrapper">
                                <div class="container">
                                    <div class="breadcrumb-wrapper-inner">
                                        <span><a title="Dezily" href="index.html" class="home">Home</a></span>
                                        <span class="ttm-bread-sep">&nbsp; / &nbsp;</span>
                                        <span>Services Details</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                    
        </div>

        <!-- personal-info-section -->
            <section class="ttm-row personal-info-section ttm-bgcolor-grey clearfix">
                <div class="container">
                    <div class="row">
                        <!-- section-title -->
                        <div class="section-title">
                            <div class="title-header">
                                <h3>OUR SERVICES</h3>
                                <h2 class="title">Care Provided by Caringtouch Healthcare Limited</h2>
                                <div class="mt_5">
                                    <p>Knowing your loved one is happy, safe and cared for is your priority … and ours too. Caringtouch Healthcare Limited provides the peace of mind you need when making the decision to honor your family member’s wish to remain in their home. Our wide range of services ensures your loved one receives the care they both want and need.</p>
                                </div>
                            </div>
                        </div><!-- section-title-end -->
                    </div>
                    <div class="row">

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="personal-info res-991-mt-30">
                                
                                <h3>Type of Service</h3>
                                <ul class="ttm-list list-inline style5">
                                    <li><i class="icon-ok"></i>
                                        <span class="ttm-list-li-content">Home Care Provider</span>
                                    </li>
                                    <li><i class="icon-ok"></i>
                                        <span class="ttm-list-li-content">Nursing Agency</span>
                                    </li>
                                    <li><i class="icon-ok"></i>
                                        <span class="ttm-list-li-content">Nursing Agency</span>
                                    </li>
                                    <li><i class="icon-ok"></i>
                                        <span class="ttm-list-li-content">Privately Owned </span>
                                    </li>
                                    
                                </ul>
                            </div>
                            <div class="personal-info res-991-mt-30">
                                <h3>Specialist Care Categories</h3>
                                <ul class="ttm-list list-inline style5">
                                    <li><i class="icon-ok"></i>
                                        <span class="ttm-list-li-content">Alcohol Dependence (past or present)</span>
                                    </li>
                                    <li><i class="icon-ok"></i>
                                        <span class="ttm-list-li-content">Call in Service</span>
                                    </li>
                                    <li><i class="icon-ok"></i>
                                        <span class="ttm-list-li-content">Cancer Care</span>
                                    </li>
                                    <li><i class="icon-ok"></i>
                                        <span class="ttm-list-li-content">Companionship </span>
                                    </li>
                                    <li><i class="icon-ok"></i>
                                        <span class="ttm-list-li-content">Domestic Services / Home Help</span>
                                    </li>
                                    <li><i class="icon-ok"></i>
                                        <span class="ttm-list-li-content">Food Preparation & Serving</span>
                                    </li>
                                    <li><i class="icon-ok"></i>
                                        <span class="ttm-list-li-content">Healthcare Assistant</span>
                                    </li>
                                    <li><i class="icon-ok"></i>
                                        <span class="ttm-list-li-content">Sit in Service</span>
                                    </li>
                                    <li><i class="icon-ok"></i>
                                        <span class="ttm-list-li-content">Support Worker</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 res-991-mt-30">
                            <div class="personal-info">
                                <h3>Specialist Care Categories</h3>
                                <ul class="ttm-list list-inline style5">
                                    <li><i class="icon-ok"></i>
                                        <span class="ttm-list-li-content">High Dependency Care, two carers</span>
                                    </li>
                                    <li><i class="icon-ok"></i>
                                        <span class="ttm-list-li-content">Laundry Service</span>
                                    </li>
                                    <li><i class="icon-ok"></i>
                                        <span class="ttm-list-li-content">Learning Disability</span>
                                    </li>
                                    <li><i class="icon-ok"></i>
                                        <span class="ttm-list-li-content">Medication Assistance </span>
                                    </li>
                                    <li><i class="icon-ok"></i>
                                        <span class="ttm-list-li-content">Mental Health Condition</span>
                                    </li>
                                    <li><i class="icon-ok"></i>
                                        <span class="ttm-list-li-content">Nursing/Care Home Nurse</span>
                                    </li>
                                    <li><i class="icon-ok"></i>
                                        <span class="ttm-list-li-content">Older Person Care</span>
                                    </li>

                                     <li><i class="icon-ok"></i>
                                        <span class="ttm-list-li-content">Palliative Care</span>
                                    </li>
                                     <li><i class="icon-ok"></i>
                                        <span class="ttm-list-li-content">Personal Hygiene Care</span>
                                    </li>
                                     <li><i class="icon-ok"></i>
                                        <span class="ttm-list-li-content">Physical Disability</span>
                                    </li>
                                     <li><i class="icon-ok"></i>
                                        <span class="ttm-list-li-content">Respite cover</span>
                                    </li>
                                    <li><i class="icon-ok"></i>
                                        <span class="ttm-list-li-content">Sensory Impairment</span>
                                    </li>
                                    <li><i class="icon-ok"></i>
                                        <span class="ttm-list-li-content">Shopping Service / Errands</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="personal-info">
                                
                                <h3>Other Care Provided</h3>
                                <ul class="ttm-list list-inline style5">
                                    <li><i class="icon-ok"></i>
                                        <span class="ttm-list-li-content">24 Hour Care</span>
                                    </li>
                                    <li><i class="icon-ok"></i>
                                        <span class="ttm-list-li-content">24 Hour Nurse Care</span>
                                    </li>
                                    <li><i class="icon-ok"></i>
                                        <span class="ttm-list-li-content">Adult Home Care (18+)</span>
                                    </li>
                                    <li><i class="icon-ok"></i>
                                        <span class="ttm-list-li-content">Adult Nursing Care (18+)</span>
                                    </li>
                                    <li><i class="icon-ok"></i>
                                        <span class="ttm-list-li-content">Live in Carer</span>
                                    </li>
                                    <li><i class="icon-ok"></i>
                                        <span class="ttm-list-li-content">Nursing Care (on a contracted hours basis)</span>
                                    </li>
                                    <li><i class="icon-ok"></i>
                                        <span class="ttm-list-li-content">Personal Care (on a contracted hours basis)</span>
                                    </li>
                                    <li><i class="icon-ok"></i>
                                        <span class="ttm-list-li-content">Personal Care Assessments</span>
                                    </li>
                                    <li><i class="icon-ok"></i>
                                        <span class="ttm-list-li-content">Respite Cover</span>
                                    </li>
                                    <li><i class="icon-ok"></i>
                                        <span class="ttm-list-li-content">Risk Assessments in the Home</span>
                                    </li>
                                    
                                </ul>

                                <h3>Personal Info</h3>
                                <ul class="contact-wrapper list-inline">
                                    <li>
                                        <p>Location: 3 Newton Street, Wrexham LL13 8PE, UK</p>
                                    </li>
                                    <li>
                                        <span><a href="tel:07415211168">07-415-211-168</a></span>
                                        <span><a href="tel:07415211170">07-415-211-170</a></span>
                                    </li>
                                    <li>
                                        <a class="text-decoration-underline" href="mailto:admin@caringtouchhealthcare.co.uk">admin@caringtouchhealthcare.co.uk</a>
                                    </li>
                                    <li class="mb-0">
                                        <ul class="social-icons square style2">
                                            <li class="social-facebook">
                                                <a href="#" tabindex="0" rel="noopener" aria-label="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                            </li>
                                            <li class="social-twitter">  
                                                <a href="#" tabindex="0" rel="noopener" aria-label="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                            </li>
                                            <li class="social-pinterest">
                                                <a href="#" tabindex="0" rel="noopener" aria-label="pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                                            </li>
                                            <li class="social-linkedin">
                                                <a href="#" tabindex="0" rel="noopener" aria-label="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!-- personal-info-section-end -->

        <!--site-main start-->
        <div class="site-main">

            <!-- empty-section  -->
            <div class="ttm-row empty-section ttm-bgcolor-grey clearfix">
            </div>
            <!-- empty-section-end -->

            <!-- sidebar -->
            <div class="ttm-row top_zero_padding-section sidebar ttm-sidebar-top clearfix">
                <div class="container">
                    <!-- row -->
                    <div class="row">
                        
                        <div class="col-lg-12 content-area pt-90 res-991-pt-50">
                            <article class="ttm-service-single-content-area">
                                <div class="row">
                                    <div class="col-lg-12">
                                        
                                        <div class="row pt-70 res-991-pt-0 res-991-mt-30">
                                            <div class="col-lg-6">
                                                <div class="ttm_single_image-wrapper">
                                                    <img class="img-fluid" src="{% static 'assets/images/single-img-22.jpg' %}" width="572" height="395" alt="single-img-22">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 res-991-mt-30">
                                                <!-- section title -->
                                                <div class="section-title">
                                                    <div class="title-header">
                                                        <h2 class="title">Specialized care from the comfort of home</h2>
                                                    </div>
                                                </div><!-- section title end -->
                                                <div class="mt_5">
                                                    <p>No matter the type of care your loved one requires, Caringtouch Healthcare Limited provides the perfect services for any of their needs, all done from home. We’re giving better peace of mind for them. And you.</p>

                                                    
                                                </div>

                                                <div class="mt_5">
                                                    <p>

                                                    By choosing Caringtouch Healthcare Limited for a loved one, you’re not just getting exceptional care for any of their needs, but you’re gaining a genuine, in-home connection designed to give them the absolute best quality of life. </p>
                                                </div>
                                                
                                                <div class="pt-50 res-991-pt-30 d-flex flex-wrap flex-column flex-sm-row">
                                                    <div class="res-991-mb-15"><a class="ttm-btn ttm-btn-size-md ttm-btn-shape-squar ttm-btn-style-fill ttm-btn-color-darkgrey ttm-textcolor-white" href="contact-us.html">get appointment</a></div>
                                                    <div class="ml-25 res-575-ml-0"><a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-fill ttm-btn-color-skincolor" href="{% url 'main:contact' %}">contact us</a></div>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div><!-- row end -->
                </div>
            </div>
            <!-- sidebar end -->

            

        </div><!--site-main end-->
            
        {% endblock %}